{
    "Servers": {
        "1": {
            "Name": "PgBouncer Pool",
            "Group": "Servers",
            "Host": "pgbouncer",
            "Port": 6432,
            "MaintenanceDB": "{{ POSTGRES_DB }}",
            "Username": "{{ POSTGRES_USER }}",
            "SSLMode": "prefer",
            "Comment": "Connection via PgBouncer"
        }
    }
}