{
    "Servers": {
        "1": {
            "Name": "PgBouncer Pool",
            "Group": "Servers",
            "Host": "db",
            "Port": 6432,
            "MaintenanceDB": "postgres",
            "Username": "postgres",
            "SSLMode": "prefer",
            "Comment": "Connection via PgBouncer"
        }
    }
}
